node_modules
dist
dist-ssr
*.local
*.tsbuildinfo

.env
.env.local
package-lock.json
supabase/migrations/001_init.sql

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
